/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* UTILITIES OR COMMON STYLES */
body {
    font-family: 'Poppins', sans-serif;
}

/* navbar */
/* .nav-links {
    position: absolute;
    left: 7.2rem;
} */

/* carousel */
.carousel-item::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
}
/* .carousel-item img {
    background-image: url(images/cover/cover-1.png);
    background-size: cover;
} */
.carousel-caption h1 {
    line-height: 55px;
}
.carousel-caption p {
    color: #F4F4F4;
}

/* Accordion */
.accordion-button:focus {
    box-shadow: none;
}

/* Footer */
footer {
    height: 350px;
    background-color: #252424;
}
footer p {
    color: #E8E8E8;
}
footer p a {
    text-decoration: none;
    color: #E8E8E8
}
footer p > a:hover {
    color: lightgray;
}
.fa-brands {
    color: #B9B9B9;
    font-size: 24px;
}



/* @media screen and (max-width: 767px) {
    .card img {
        height: 242px;
        width: 100%;
    }
} */