/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* UTILITIES OR COMMON STYLES */
body {
    font-family: 'Poppins', sans-serif;
}

/* carousel */
.carousel {
    margin-bottom: 6rem;
}
.carousel-item::before {
    content:"";
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background:rgba(0,0,0,0.6);
}

.carousel-caption h1 {
    line-height: 55px;
}
.carousel-caption p {
    color: #F4F4F4;
}
/* Courses Section */
#sec-course {
    margin-bottom: 7rem;
}
/* Join Section */
#sec-join {
    margin-bottom: 6rem;
}
.modal-button {
    background-color: #ffffff;
}
.modal-button:hover {
    background-color: rgb(255, 255, 255);
}
.modal-button:focus {
    box-shadow: none;
    background-color: #ffffff;
}
.modal-body p a {
    text-decoration: none;
}
.modal-footer .close-button:hover {
    background-color: #F4F4F4;
    color: blue;
}

/* Success Section */
#sec-success {
    margin-bottom: 6rem;
}

/* FAQ Section */
#sec-faq {
    margin-bottom: 7.5rem;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button h5 {
    color: #615f5f
}

/* Trusted Section */
#sec-trusted {
    margin-bottom: 7.5rem;
}
.com-icons img {
    width: 8.6rem;
    height: 1.3rem;
}
#udemy {
    width: 8.5rem;
    height: 2.5rem;
}
#fedEx {
    width: 5.7rem;
    height: 1.7rem;
}
#indeed {
    width: 6.5rem;
    height: 1.7rem;
}

/* Footer */
footer {
    height: 350px;
    background-color: #252424;
}
footer p {
    color: #E8E8E8;
}
footer p a {
    text-decoration: none;
    color: #E8E8E8
}
footer p > a:hover {
    color: lightgray;
}
.fa-brands {
    color: #B9B9B9;
    font-size: 24px;
}